*{
    background-color: bisque;
}
video{
    padding-left: 70px;
    position: absolute;
}
.isi{
    margin-right: 120px;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    position: absolute;
    margin: 0px 170px 0 460px;
    padding-bottom: 70px;
}