*{
    background-color: rgb(243, 226, 208);
}
video{
    margin-top: 0px;
    padding-left: 70px;
    position: absolute;
}
.isi{
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
    position: absolute;
    margin: 10px 350px 0 110px;
    padding-bottom: 70px;
}